.btn {
    color: $white;
    padding: 16px 28px;
    border: 2px solid $primary-color;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
    margin-top: 10px;
    background-color: $primary-color;
    opacity: 0.65;
    transition: $all-transitions;


    &:hover {
        color: $primary-color;
        background-color: rgb(121, 118, 118);
        border-color: rgb(121, 118, 118);
        font-weight: $font-normal;
    }
}
